@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: #f5edef;
}

.fadeInPage {
  animation: 0.5s fadeIn forwards;
}

.fadeOutPage {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

.shadow {
  background: linear-gradient(
    180deg,
    rgba(166, 163, 163, 0.3) 30%,
    rgba(255, 255, 255, 1) 100%
  );
}

.recolor {
  filter: grayscale(100%) invert(62%) sepia(26%) saturate(7061%)
    hue-rotate(307deg) brightness(93%) contrast(93%);
}

.box {
  background: #fff radial-gradient(#fcdfda 0px, #fcdfda 7px, transparent 7px);
  background-size: 1.25rem 1.25rem;
  background-position: -0.625rem;
}
